@using DiscussionForum.Shared;
<AuthorizeView Context="authContext">
    <Authorized>
        <div class="border-gray-400 border-[1px] rounded @AdditionalClasses">
            <EditForm Model=newMessage OnValidSubmit="SubmitMessage" class="p-2" id="add-message-form" FormName="AddTopicMessage" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <InputTextArea id="title-input" class="w-full max-h-60 my-2 rounded p-1 bg-transparent" DisplayName="New message"
                               @bind-Value="@newMessage.Message" required maxlength="@ValidationConstants.MessageContentMaxLength" placeholder="New message"
                               disabled="@isBusy" />
                <div class="flex justify-between">
                    <InputFile OnChange="SelectFile" id="image-input" multiple class="text-white my-2 max-w-full"
                               disabled="@isBusy" />

                    <button type="submit"
                            class="btn btn-primary mt-2 font-semibold @(isBusy ? "transition cursor-not-allowed" : "")"
                            disabled=@(!string.IsNullOrEmpty(errorMessage) || isBusy)>
                        Send <img class="inline ml-2 h-4 dark:invert" src="icons/arrow-right.svg" />
                    </button>
                </div>
            </EditForm>
            @if (string.IsNullOrWhiteSpace(errorMessage) is false)
            {
                <p class="text-red-500">@errorMessage</p>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <p class="m-2">Log in to comment</p>
    </NotAuthorized>
</AuthorizeView>
