<div class="center-container scroll-smooth p-2">
    <TopicHeader Topic="Topic" UserInfo="UserInfo" InvokeDeleteConfirm="ShowDeleteTopicConfirm" />

    <div class="mb-2 h-[1px] w-full bg-gray-400" />

    <TopicMessageComponent Message="@Topic.Messages[0]" CanDelete=false CurrentUserInfo="@UserInfo" DeleteMessageHandler="@ShowDeleteMessageConfirm" />
    @foreach (TopicMessage message in Topic.Messages.Skip(1))
    {
        <TopicMessageComponent Message="@message" CurrentUserInfo="@UserInfo" DeleteMessageHandler="@ShowDeleteMessageConfirm" />
    }

    <div class="my-2 mb-4 h-[1px] w-full bg-gray-400" />

    <AddTopicMessageComponent TopicId="@Topic.Id" AdditionalClasses="mb-2" />
</div>

<Modal @ref=modal Header="@modalHeader">
    @modalContent
</Modal>

@code {
    private RenderFragment ModalMessage() =>
    @<p class="bg-[#FEF9F3] p-4 font-bold text-gray-800 dark:text-gray-200 dark:bg-gray-700">@modalMessage</p>;

    private RenderFragment ModalConfirm(Func<Task> action) =>
    @<div class="bg-[#FEF9F3] text-gray-800 dark:text-gray-200 dark:bg-gray-700">
        <p class="p-4 font-bold">@modalMessage</p>
        <form method="dialog" class="pb-4 pl-4">
            <button type="submit" class="btn btn-primary" @onclick=action>Confirm</button>
        </form>
    </div>;
}

